<div class='bg-purple text-white w-56'>
  <a {{action (mut isShowingMenu) true}} href=""
    data-tether-id="menu"
    class='pt-4 px-4 pb-2 text-white block no-underline hover:bg-purple-dark group'>

    <div class="flex items-center">
      <div class="text-lg font-black truncate">
        {{model.name}}
      </div>
      <div class='px-1 text-purple-light group-hover:text-white'>
        {{svg-jar 'arrow-down' class='stroke-current w-3 h-3'}}
      </div>
      <div class='ml-auto flex text-purple-light hover:text-white'>
        {{svg-jar 'bell' class='stroke-current w-6 h-6'}}
      </div>
    </div>

    <div class='text-sm pt-1 flex items-center text-purple-light group-hover:text-white'>
      <div class='bg-green h-2 w-2 mr-2 rounded-full'></div>
      samselikoff
    </div>
  </a>
</div>

<div class='flex-grow p-4'>
  Messages
</div>

{{#if isShowingMenu}}
  {{#modal-dialog animatable=true
    onClose=(action (mut isShowingMenu) false)
    clickOutsideToClose=true
    tetherTarget='[data-tether-id="menu"]'
    attachment='top left'
    targetAttachment='bottom left'}}

    <div class="ml-2 -mt-2">
      <div class="bg-white shadow border rounded w-76 pb-2">
        <div class="pt-6 px-6 pb-2 flex">
          <img class='w-10 h-10 rounded mr-3'
            src="https://pbs.twimg.com/profile_images/854110705527787522/8teNpfCK_400x400.jpg" alt="">
          <div>
            <p class='text-lg font-black'>samselikoff</p>
            <p class='text-sm text-grey-dark pt-1'>Sam Selikoff</p>
          </div>
        </div>

        <ul class='list-reset'>
          <li>
            <a class='list-item' href='#'>
              Set a status
            </a>
          </li>
          <li>
            <a class='list-item' href='#'>
              Profile & account
            </a>
          </li>
          <li>
            <a class='list-item' href='#'>
              Preferences
            </a>
          </li>
          <li>
            <a class='list-item' href='#'>
              Set yourself to <strong>away</strong>
            </a>
          </li>
          <li>
            <a class='list-item' href='#'>
              Help & feedback
            </a>
          </li>
          <li>
            <hr class='my-2 border-b'>
          </li>
        </ul>

        <div class="pt-6 px-6 pb-2 flex">
          <img class='w-10 h-10 rounded mr-3'
            src={{model.iconUrl}} alt="">
          <div>
            <p class='text-lg font-black'>{{model.name}}</p>
            <p class='text-sm text-grey-dark pt-1'>{{model.workspaceUrl}}</p>
          </div>
        </div>

        <ul class='list-reset'>
          <li>
            <a class='list-item' href='#'>
              Analytics
            </a>
          </li>
          <li>
            <a class='list-item' href='#'>
              Sign out of <strong>{{model.name}}</strong>
            </a>
          </li>
          <li>
            <hr class='my-2 border-b'>
          </li>
          <li>
            <a class='list-item' href='#'>
              Sign in to another workspace...
            </a>
          </li>
        </ul>
      </div>
    </div>

  {{/modal-dialog}}
{{/if}}
